
body {
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	background: #663300;
}

.game-container {
	width: 500px;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

.stats {
	width: 500px;
	height: 60px;
	background: #643B0F;
	margin-right: auto;
	margin-left: auto;
}
.stats div {
	float: left;
	height: 100%;
	border-color: #3e8f3e;
}
.stats div:first-child {
	width: 200px;
}

.stats div:nth-child(2) {
	width: 100px;
	background: rgb(41,154,11);
	background: -moz-linear-gradient(top, rgba(41,154,11,1) 0%, rgba(41,154,11,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,154,11,1)), color-stop(100%,rgba(41,154,11,1)));
	background: -webkit-linear-gradient(top, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
	background: -o-linear-gradient(top, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
	background: -ms-linear-gradient(top, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
	background: linear-gradient(to bottom, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 );
}
.stats div:last-child {
	width: 200px;
}

.stats div p {
	font-size: 24px;
	font-weight: 500;
	color: white;
	text-align: center;
	padding-top: 4px;
}



.tile-container {
	background: #643B0F;
	max-width : 500px;
	max-height: 500px;
	margin-right: auto;
	margin-left: auto;
	height: 500px;
	width: 500px;
	position: relative;
	overflow: hidden;
}

@media screen and ( aspect-ratio: 3/4 ){
    .tile-container {
    	margin-top: 50px;
    }
}

@media screen and ( aspect-ratio: 4/3 ) and (min-width: 1024px){
    .tile-container {
    	margin-top: 50px;
    }
}

.tile {
	background: #BA6222;
	float: left;
	box-shadow: 0px 0px 14px rgba(0,0,0,0.6);
	cursor: pointer;
	color: white;
	font-weight: 500;
	text-align: center;
	margin-left: 14px;
	margin-top: 14px;
	position: relative;
	overflow: hidden;
}

.tile div {
	width: 100%;
	height: 100%;
}


.tile div.shield {
	z-index: 1;
	background: #16222d;
	left: 0px;
	
}

.dim-4x4 {
	width: 107px;
	height: 107px;
}

.dim-4x4 div {
	font-size: 56px;
	line-height: 1.85;
	position: absolute;
	z-index: 0;
}

.dim-4x4 div.shield {
	top: -107px;
}

.dim-4x4 div.anim {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
    top: 0px;
    background: rgba(3,168,23,1);
}


.dim-4x4 div.anim-next {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
    top: 0px;
}



.dim-5x5 {
	width: 83px;
	height: 83px;
}

.dim-5x5 div {
	font-size: 48px;
	line-height: 1.75;
	position: absolute;
	z-index: 0;

}

.dim-5x5 div.shield {
	top: -83px;
}

.dim-5x5 div.anim {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
    top: 0px;
    background: rgba(3,168,23,1);
}

.dim-6x6 {
	width: 67px;
	height: 67px;
}

.dim-6x6 div {
	font-size: 42px;
	line-height: 1.65;
	position: absolute;
	z-index: 0;
}

.dim-6x6 div.shield {
	top: -67px;
}

.dim-6x6 div.anim {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
    top: 0px;
    background: rgba(3,168,23,1);
}

.dim-7x7 {
	width: 55px;
	height: 55px;
}

.dim-7x7 div {
	font-size: 36px;
	line-height: 1.55;
	position: absolute;
	z-index: 0;
}

.dim-7x7 div.shield {
	top: -55px;
}

.dim-7x7 div.anim {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
    top: 0px;
    background: rgba(3,168,23,1);
}

.dim-8x8 {
	width: 47px;
	height: 47px;
}

.dim-8x8 div {
	font-size: 36px;
	line-height: 1.35;
	position: absolute;
	z-index: 0;
}

.tile div.shield {
	z-index: 1;
	background: #16222d;
	left: 0px;
	
}

.dim-8x8 div.shield {
	top: -47px;
	
}

.dim-8x8 div.anim {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
    top: 0px;
    background: rgba(3,168,23,1);
}

.anim4x4 {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
    top: -214px;
}

.anim5x5 {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
    top: -166px;
}

.anim6x6 {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
    top: -134px;
}

.anim7x7 {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
    top: -110px;
}


.anim8x8 {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
    top: -94px;
}

.tile-active {
	background: #3399FF;
}

.num-find-container {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	padding-top: 50px;
}
.num-find {
	max-width: 250px;
	color: white;
	background: #266A2E;
	text-align: center;
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	border: 2px solid;
}
.p-divider {
	height: 6px;
	background: white;
}

.num-find p:first-child, .num-find p:nth-child(4) {
	margin-bottom: 5px;
}

.num-find p:last-child, .num-find p:nth-child(3) {
	font-size: 120px
}

.anim-find-number {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
	top: -500px;
	position: absolute;
}


.level-up-pop-container {
	width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: 100;
}

.level-up-pop-top {
	top: -500px;
}

.level-up-pop {
	width: 200px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 180px;
	background: #16222d;
	color: white;
	font-size: 18px;
	text-align: center;
	box-shadow: 0px 0px 14px rgba(0,0,0,0.6);
}

.level-up-pop p:first-child {
	padding-top: 10px;
	padding-bottom: 10px;
}

.level-up-pop div:last-child {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background: #FF9900;
	font-size: 28px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 2px solid;
	border-radius: 30px;
	cursor: pointer;
}

.level-up-anim {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
    top : 0px;
}

.level-up-exit {
	-webkit-transition-property : top 1s ease-in-out 1s;
	transition-property : top 1s ease-in-out 1s;
    transition-duration : 1s;
    top : 500px;
}

/*GLOBAL CSS*/
.b-green {
	background: rgb(41,154,11);
	background: -moz-linear-gradient(top, rgba(41,154,11,1) 0%, rgba(41,154,11,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,154,11,1)), color-stop(100%,rgba(41,154,11,1)));
	background: -webkit-linear-gradient(top, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
	background: -o-linear-gradient(top, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
	background: -ms-linear-gradient(top, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
	background: linear-gradient(to bottom, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 );
}
.b-red {
	background: rgb(204,0,0);
	background: -moz-linear-gradient(top, rgba(204,0,0,1) 0%, rgba(112,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,0,0,1)), color-stop(100%,rgba(112,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(204,0,0,1) 0%,rgba(112,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(204,0,0,1) 0%,rgba(112,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(204,0,0,1) 0%,rgba(112,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(204,0,0,1) 0%,rgba(112,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#700000',GradientType=0 );
}

div.div-ack {
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
	float: none;
	text-align: center;
}

.acknowledgement {
	font-size: 14px;
	color: #776e65;
	text-align: center;
	padding-top: 2px;
}